".text.html.vue":
  "Vue component template":
    "prefix": "vtemplate"
    "body": """
      <template>
        <div class="$1">
          $2
        </div>
      </template>

      <script>
        export default {
          name: '$3',

          $4
        }
      </script>

      <style ${6:lang="${7:css}"} scoped>
        .$1 {
          $8
        }$9
      </style>
    """
    "description": "Single file component template"
    "descriptionMoreURL": "https://vuejs.org/v2/guide/single-file-components.html"

".meta.tag":
  'v-for':
    'prefix': 'v-for'
    'body': 'v-for=\"${1:elem} in ${2:elemArray}\" :key=\"${1:elem}.${3:key}\"'
    'description': 'Vuejs binding for list rendering'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/list.html#v-for'

  'v-if':
    'prefix': 'v-if'
    'body': 'v-if=\"${1:condition}\"'
    'description': 'Vuejs binding for if conditional rendering'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/conditional.html#v-if'

  'v-show':
    'prefix': 'v-show'
    'body': 'v-show=\"${1:condition}\"'
    'description': 'Vuejs binding for show conditional rendering'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/conditional.html#v-show'

  'v-else-if':
    'prefix': 'v-else-if'
    'body': 'v-else-if=\"${1:condition}\"'
    'description': 'Vuejs binding for else-if conditional rendering'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/conditional.html#v-else-if'

  'v-else':
    'prefix': 'v-else'
    'body': 'v-else'
    'description': 'Vuejs binding for else conditional rendering'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/conditional.html#v-else'

  'v-model':
    'prefix': 'v-model'
    'body': 'v-model=\"${1:model}\"'
    'description': 'Vuejs binding for model binding'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/forms.html'

  'v-bind':
    'prefix': 'v-bind'
    'body': ':${1:attribute}=\"${2}\"'

'.source.js':
  'Vue computed':
    'prefix': 'vcomputed'
    'body': """
      computed: {
        ${1:computedProperty}() {
          return ${2:something}
        },$3
      },
    """
    'description': 'Vuejs computed property'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/computed.html'

  'beforeCreate Vuejs hook':
    'prefix': 'vbeforecreate'
    'body': """
      beforeCreate() {
        $1
      },$2
    """
    'description': 'Vuejs instance lifecycle hook for beforeCreate'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram'

  'created Vuejs hook':
    'prefix': 'vcreated'
    'body': """
      created() {
        $1
      },$2
    """
    'description': 'Vuejs instance lifecycle hook for created'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram'

  'beforeMount Vuejs hook':
    'prefix': 'vbeforemount'
    'body': """
      beforeMount() {
        $1
      },$2
    """
    'description': 'Vuejs instance lifecycle hook for beforeMount'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram'

  'mounted Vuejs hook':
    'prefix': 'vmounted'
    'body': """
      mounted() {
        $1
      },$2
    """
    'description': 'Vuejs instance lifecycle hook for mounted'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram'

  'beforeUpdate Vuejs hook':
    'prefix': 'vbeforeupdate'
    'body': """
      beforeUpdate() {
        $1
      },$2
    """
    'description': 'Vuejs instance lifecycle hook for beforeUpdate'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram'

  'updated Vuejs hook':
    'prefix': 'vupdated'
    'body': """
      updated() {
        $1
      },$2
    """
    'description': 'Vuejs instance lifecycle hook for updated'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram'

  'beforeDestroy Vuejs hook':
    'prefix': 'vbeforedestroy'
    'body': """
      beforeDestroy() {
        $1
      },$2
    """
    'description': 'Vuejs instance lifecycle hook for beforeDestroy'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram'

  'destroyed Vuejs hook':
    'prefix': 'vdestroyed'
    'body': """
      destroyed() {
        $1
      },$2
    """
    'description': 'Vuejs instance lifecycle hook for destroyed'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram'

  'Vue watch':
    'prefix': 'vwatch'
    'body': """
      watch: {
        ${1:propertyToWatch}() {
          $2
        },$3
      },
    """
    'description': 'Vuejs way to watch instance properties'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/computed.html#Watchers'

  'Vuejs methods':
    'prefix': 'vmethods'
    'body': """
      methods: {
        ${1:methodName}() {
          $2
        },$3
      },$4
    """
    'description': 'Vuejs methods event handlers'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/events.html#Method-Event-Handlers'

  'Vuejs components include':
    'prefix': 'vcomponents'
    'body': """
      components: {
        ${1:componentName},$2
      },
    """
    'description': 'Use it when you want to add child components to parent component.'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/single-file-components.html'

  'Vuejs props':
    'prefix': 'vprops'
    'body': """
      props: {
        ${1:propKey}: ${2:propType},$3
      },$4
    """
    'description': 'Vuejs way to pass data to child components'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/components.html#Props'

  'Vuejs data':
    'prefix': 'vdata'
    'body': """
      data() {
        return {
          ${1:stateKey}: ${2:stateValue},$3
        }
      },
    """
    'description': 'Vuejs way of state'
    'descriptionMoreURL': 'https://vuejs.org/v2/guide/components.html#data-Must-Be-a-Function'
